
* {
    font-family: 'Helvetica';
    margin-left: 20px;
}

.headline {
        color: #fff;
    background-color: rgb(17, 12, 12);
    padding: 10px;
    margin: -10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.search-field {
    padding: 5px;
    border-radius: 5px;
    width: 15%;
}

.btn {
    border-radius: 5px;
    padding: 4px;
    background-color: black;
    color: #fff;
    border-style: none;
}

.results-movies {
    color: rgb(17, 12, 12);
    background-color: rgb(240, 236, 236);
    margin: -10px;
    padding-top: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
